.export-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10rem;
  height: 30px;
  padding: 0;
  background: transparent;
  color: $clr-grey;
  border: 1px solid $clr-grey;
  font-size: 1rem;
  outline: 0;
  cursor: pointer;

  &:hover {
    color: orange;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;

    &:hover {
      color: $clr-grey;
    }
  }
}