.header {
  position: relative;
  padding: 10px;
  z-index: 2000;
  background: #fff;
  height: 40px;

  h1 {
    font-size: 1.5rem;
  }

  h3 {
    margin: 0;
  }

  .logo {
    display: inline-block;
    width: 61px;
    height: 67px;
    background: url('../assets/icons/logo.png');
    vertical-align: bottom;
  }
}